{% load staticfiles %}
{% include "header.html" %}

<body>
     <div class='container-fluid'>
        <div class="panel panel-default">
            <div class="panel-heading">
             <span> <img src="{% static 'images/Capture.PNG' %}">
             </span> &nbsp&nbsp
             <span style="font-size:22pt;font-weight:bold;"> Welcom to my blog </span>
            </div>
            <div class="panel-body">
       	      <hr>
              {% block content %}
              {% endblock %}
	      <hr><br>
            </div>
            <div class="panel-footer">
               {% include "bottum.html" %}
            </div>
        </div>
      </div>
</body>
</html>
